cfgv==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
chess==1.11.1 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
distlib==0.3.9 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.16.1 ; python_version >= "3.12" and python_version < "4.0"
identify==2.6.1 ; python_version >= "3.12" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.1.2 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4.0"
pre-commit==4.0.1 ; python_version >= "3.12" and python_version < "4.0"
pyarrow==17.0.0 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
tqdm==4.66.5 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "4.0"
virtualenv==20.26.6 ; python_version >= "3.12" and python_version < "4.0"
