# pre-commit workflow
#
# Ensures the codebase passes the pre-commit stack.
# We run this on GHA to catch issues in commits from contributors who haven't
# set up pre-commit.

name: pre-commit

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout code
      uses: actions/checkout@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        target: dev
        push: false
        tags: template:gha
        cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/template:cache
        cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/template:cache,mode=max
        outputs: type=docker
    -
      name: Run tests
      run: docker run template:gha pre-commit run --all-files
