# Run python unit tests

name: unittests

on:
  push:
  schedule:
    - cron:  "0 0 * * 1"
      branches: [ $default-branch ]

jobs:
  unittests:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    #- name: Build dev docker image
    #  run: docker-compose -f docker-compose-gha.yml run dev pytest
    #
